body {
    background: url(back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#h1-1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 100px;
    animation: Slide1 3s;
}

#what {
    text-align: left;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 30px;
	transition: all linear 0.2s;
    	animation: Slide2 3s;
	display: inline-block ; 
}


#acc {
    text-align: left;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 30px;
	transition: all linear 0.2s;
    	animation: Slide2 3s;
	display: inline-block ; 
}

#acc:hover {
    color: white;
}


#what:hover {
    color: white;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: black;
}


#Twitter {
    text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 30px;
	transition: all linear 0.2s;
    animation: Slide1 3s; 
}

#code {
    text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 30px;
	transition: all linear 0.2s;
    animation: Slide1 3s;  
}

#Twitter:hover {
    color: white;
}

#code:hover {
    color: white;
}

.Credits2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: black;
	font-size: 30px;
    animation: Slide2 3s; 
}

a {
    text-decoration: none;
    color: black;
}



@keyframes Slide1 {
    from {
        transform: translateX(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes Slide2 {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
